.header__logo {
  width: 35%;
  max-width: 140px;
}

.section-anjo .section-anjo__watch {
  width: 430px;
  height: 400px;
}
.section-anjo .section-anjo__button {
  background: #8aeaf3;
  border: 0px;
  margin: 0 0 0 5px;
  padding: 5px 15px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.section-anjo .right-items .text h1 {
  color: white;
  line-height: 1.4;
  margin: 10px 0 0 0;
  font-size: 35px;
  font-weight: bold;
}
.section-anjo .right-items .text p {
  font-size: 12px;
  line-height: 1.3;
  margin: 5px 0 20px 0;
}
.section-anjo .right-items .text b {
  font-weight: bold;
}
.section-anjo .section-anjo__block {
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0;
}
.section-anjo .section-anjo__header {
  display: flex;
  border-bottom: 2px solid white;
  align-items: center;
  width: 100%;
  font-size: 12px;
  padding: 0;
}
.section-anjo .section-anjo__header div {
  width: 50%;
  text-align: center;
  padding: 8px 5px;
}
.section-anjo .section-anjo__header div:nth-child(1) {
  border-right: 2px solid white;
  border-top-right-radius: 5px;
  font-weight: bold;
  border-bottom-right-radius: 5px;
  background: white;
  margin: 0px;
  color: #002153;
}
.section-anjo .section-anjo__header div:nth-child(2) {
  background: #e53582;
  color: white;
}
.section-anjo .section-anjo__form {
  padding: 5px;
}

.input .input__field {
  width: 98%;
  border: 0;
  outline: none;
  margin: 5px 0 0 0;
  padding: 5px 5px;
  padding-right: 0px;
  border-radius: 2px;
}

.services__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}
.services__item img {
  width: 150px;
  margin: 10px;
}
.services__item h2 {
  font-size: 17px;
  margin: 10px 0;
}
.services__item p {
  font-size: 16px;
  line-height: 1.3;
}
.services__item-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
}
.glider-next,
.glider-prev {
  top: 50% !important;
  transform: translate(0px, -50%) !important;
  color: #bfffff !important;
}

.glider-n,
.glider-p {
  position: absolute;
  top: 50% !important;
  transform: translate(0px, -50%) !important;
  color: #002153 !important;
}
.glider-n {
  right: -10px !important;
}
.glider-p { 
  left: -10px!important;
}

#glider-second div {
  display: flex!important;
  flex-wrap: wrap;
  align-items: center!important;
  justify-content: center!important;
}

#glider-second div img {
  margin: 20px 40px;
}
.glider-contain {
  width: 80% !important;
  max-width: 400px;
  margin-top: 50px !important;
}
.services__item-mobile img {
  width: 150px;
  margin: 10px;
}
.services__item-mobile h2 {
  font-size: 17px;
  color: white;
  margin: 10px 0;
}
.services__item-mobile p {
  font-size: 16px;
  line-height: 1.3;
}

.services__details {
  width: 100%;
  max-width: 700px;
  display: none;
  position: relative;
}
.services__details h1 {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.services__details h2 {
  color: white;
}

.services__button {
  margin: 10px;
  cursor: pointer;
  padding: 12px 45px;
  background: #002153;
  color: white;
  border: 0px;
}

.second-slide-btn{
  width: 100%;
  margin: 30px 0px;
  padding: 20px 0;
  border: 0px;
  background: #002153;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 500px) {
  .glider-contain {
    display: none;
  }

}

/*# sourceMappingURL=element.css.map */
